---
import Layout from '@/layouts/Layout.astro';
import LinkedinIcon from '@/components/icons/LinkedinIcon.astro';
import GithubIcon from '@/components/icons/Github.astro';
import Briefcase from '@/components/Briefcase.astro';
import SocialPill from '@/components/SocialPill.astro';
import MailIcon from '@/components/icons/Mail.astro';
import Experience from '@/components/Experience.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import CodeIcon from '@/components/icons/CodeIcon.astro';
import Projects from '@/components/Projects.astro';
import Footer from '@/components/Footer.astro';


---

<Layout 
	title="Portfolio de Juan Palma (jpalma76) - Desarrollador y Programador Web con 2 años de experiencia"
	description="Desarrollo Frontend Contactame para crear y desarrollar tu aplicación web o móvil."
	>
	<main class="mx-[17%] md:mx-auto max-w-[750px]">

		<SectionContainer class="mt-10 flex flex-col" id="sobre-mi">
			<img 
				class="rounded-full size-20 mb-2" 
				src="https://portafolio-juan-palma.netlify.app/images/foto-mia.jpeg" 
				alt="mi foto"
			/>

			<article class="w-full text-white text-2xl font-bold flex flex-col justify-center text-left gap-x-4 mb-4 pt-10 pb-6">
				<!-- Saludo -->
				<h1 class="text-5xl mb-5">Hey, soy Juan Palma</h1>
				<!-- Presentacion -->

				<div class="flex justify-between">
					<span>Desarrollador Frontend</span>
					<a 
						target="_blank"
						href="https://mega.nz/file/v410XZgR#bOpBsX37TMjlT8QPJECIqdXu9rWn14Y4DgXY9Y-5_ug">
						<span class="text-sm flex justify-center text-center items-center rounded-full border-gray-400 border-2 px-4 py-1 hover:scale-110 hover:text-yellow-200/90">Disponible para Trabajar</span>
					</a>
				</div>

			</article>

			<article class="text-xl md:text-2xl text-pretty">
				+2 años de experiencia como <span class="text-yellow-200/90">Desarrollador Web</span>, especializado en Frontend, de <span class="text-red-200/60">Santiago de Chile</span>, este porfolio fue realizado con <span class="font-semibold text-blue-600/90">Astro, Tailwind y Flowbite</span>
			</article>

			<article class="w-full flex gap-4 pt-10 flex-wrap">

				<SocialPill href="https://www.linkedin.com/in/juan-palma-alvarez/">
					<LinkedinIcon class="size-4 lg:size-6"/>
					Linkedin
				</SocialPill>

				<SocialPill href="https://github.com/jpalma76">
					<GithubIcon class="size-4 lg:size-6"/>
					GitHub
				</SocialPill>

				<SocialPill href="mailto:juan.palma.alvarez@gmail.com">
					<MailIcon class="size-4 lg:size-6"/>
					Email
				</SocialPill>
			</article>

			<p class=" mt-16 text-sm text-stone-400 font-sans text-justify italic">La idea de este protafolio está sacada de un proyecto de <span class="font-bold text-gray-300/60">* Miguel angel Durán @Midudev *</span>, yo en lo personal todavía no tengo experiencia laboral desarrollando sitios web más que mis proyectos personales, pero el formato me gustó y todo sirve para aprender.</p>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibolt mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-6"/>
				Formación
			</h2>
			<Experience />
		</SectionContainer>
		
		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibolt mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<Footer/>
	</main>
</Layout>
