<footer class="rounded-lg shadow bg-black/20 backdrop-blur-lg w-full">

  <div class="w-full px-10 py-6 flex flex-col md:flex-row justify-between">
  
    <span class="text-sm sm:text-center text-yellow-200/90">
      © 2024 <a target="_blank" href="https://portafolio-juan-palma.netlify.app/" class="hover:underline hover:scale-110 inline-block">jpalma76™</a>. casi todos los derechos reservados.
    </span>

    <ul class="flex gap-x-3">
        <li>
            <a href="#sobre-mi" class="hover:underline-none hover:scale-125 inline-block hover:text-yellow-200">Sobre mí</a>
        </li>

        <li>
            <a target="_blank" href="mailto:juan.palma.alvarez@gmail.com" class="hover:underline-none hover:scale-125 inline-block hover:text-yellow-200">Contacto</a>
        </li>
    </ul>
  </div>
</footer>
