---

---



<footer class="rounded-lg shadow mt-4 bg-black/20 backdrop-blur-lg w-[850px] px-20 flex justifypy-60">

  <div class="w-full mx-auto my-3 max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
  
    <span class="text-sm sm:text-center text-yellow-200/90">© 2024 <a target="_blank" href="https://portafolio-juan-palma.netlify.app/" class="hover:underline hover:scale-110 inline-block">jpalma76™</a>. casi todos los derechos reservados.
    </span>
    <ul class="flex justify-around gap-x-4 items-center mt-3 text-sm font-medium text-white/90  sm:mt-0 mr-4">
        <li>
            <a href="#sobre-mi" class="hover:underline-none hover:scale-125 inline-block hover:text-yellow-200">Sobre mí</a>
        </li>

        <li>
            <a target="_blank" href="mailto:juan.palma.alvarez@gmail.com" class="hover:underline-none hover:scale-125 inline-block hover:text-yellow-200">Contacto</a>
        </li>
    </ul>
  </div>
</footer>
