---

---

<header class="flex justify-center md:justify-end text-sm md:text-md py-6 max-w-full md:mx-20 mx-10">
  <nav class="flex flex-row  gap-x-5 md:gap-x-10 opacity-80 ">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="mailto:juan.palma.alvarez@gmail.com">Contacto</a>
  </nav>
</header>